main {
    width: 85%;
    margin: 0 auto 30px;
    background: white;


    img {
        width: 100%;
    }

    .mass-headline {
        width: 80%;
        margin: 0 auto;

        span {
            padding: 70px 0; 
            position: relative;
            display: block;

            &::before,&::after {
                content: "";
                position: absolute;
                width: 37%;
                height: 1px;
                background: gray;
                top: 50%;
                transform: translateY(-50%);
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }
}